.shop_category {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.items {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 38px;
  font-weight: bolder;
  margin: 0 auto 30px;
}

.collection_item {
  margin-bottom: 30px;
}
