.container {
  padding: 0 2rem;
}

.section {
  margin: 7px 0;
  min-height: 250px;
  min-width: inherit;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

.section :hover {
  cursor: pointer;
  transition: ease-in-out 6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.info {
  height: 90px;
  padding: 0 25px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid black;
  background-color: white;
  opacity: 0.7;
}

.title {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 22px;
  color: #4a4a4a;
}

.subtitle {
  font-weight: lighter;
  font-size: 16px;
}
